[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/v2-protocol"]
	path = lib/v2-protocol
	url = https://github.com/wildcat-finance/v2-protocol.git
